*{
    box-sizing: border-box;
    background-color: #020617;
    /* font-family: "Satoshi"; */
    font-family: "Inter";
}

/* Hamburger Menu */

.hamburger {
    cursor: pointer;
    width: 28px;
    height: 28px;
    transition: all 0.25s;
    position: relative;
  }
  
  .hamburger-top,
    .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 1px;
    background: #FFF;
    transform: rotate(0);
    transition: all 0.5s;
  }
  
  .hamburger-bottom {
    transform: translateY(14px);
  }
  
  .open {
    transform: rotate(90deg);
    transform: translateY(0px);
  }
  
  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }
  
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }
  