@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/cabinet-grotesk');

*{
    box-sizing: border-box;
    /* overflow-y: scroll; */
    /* background-color: #020617; */
    /* background-color: #010001; */
    /* font-family: "Rubik"; */
  }
  
html, body{
    font-family: 'Cabinet Grotesk';
}

.background{
  background-image: url(images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rubik{
  font-family: "Rubik" !important;
}

section{
  overflow-y: hidden;
}

.footer-bg{
    background-image: url(images/footer-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 28px;
    height: 28px;
    transition: all 0.25s;
    position: relative;
  }
  
  .hamburger-top,
    .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 1px;
    background: #FFF;
    transform: rotate(0);
    transition: all 0.5s;
  }
  
  .hamburger-bottom {
    transform: translateY(14px);
  }
  
  .open {
    transform: rotate(90deg);
    transform: translateY(0px);
  }
  
  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }
  
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }
  